body{
  background-image: url('./img/background.png');
  background-repeat: no-repeat;
}

.card{
  background-color: rgba(122, 122, 122, 0.7) ;
  padding: 30px;
  margin: 50px;
  border-radius: 20px;
}
.card p{
  color: aliceblue;

}